# **Assignment:**
Develop the Linear regression model for the **heart disease** dataset using the scikit-learn.

In [25]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)
path = '/content/heart.data.csv'
import pandas as pd
df = pd.read_csv(path)
df

Mounted at /content/drive

     Unnamed: 0     biking    smoking  heart.disease
0             1  30.801246  10.896608      11.769423
1             2  65.129215   2.219563       2.854081
2             3   1.959665  17.588331      17.177803
3             4  44.800196   2.802559       6.816647
4             5  69.428454  15.974505       4.062224
..          ...        ...        ...            ...
493         494  47.660440  27.562464      11.294392
494         495  45.097203  21.385620       9.616762
495         496   8.279743   6.423720      13.495168
496         497  42.345863  20.741328      10.115865
497         498  30.774254  23.610175      11.843556

[498 rows x 4 columns]

**1.** Divide the data into training (75%) and testing set (25%).

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.linear_model import LinearRegression

In [34]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import math
from sklearn import metrics as metrics
import scipy.stats as stats
heart_disease = pd.read_csv('/content/heart.data.csv')
heart_disease

     Unnamed: 0     biking    smoking  heart.disease
0             1  30.801246  10.896608      11.769423
1             2  65.129215   2.219563       2.854081
2             3   1.959665  17.588331      17.177803
3             4  44.800196   2.802559       6.816647
4             5  69.428454  15.974505       4.062224
..          ...        ...        ...            ...
493         494  47.660440  27.562464      11.294392
494         495  45.097203  21.385620       9.616762
495         496   8.279743   6.423720      13.495168
496         497  42.345863  20.741328      10.115865
497         498  30.774254  23.610175      11.843556

[498 rows x 4 columns]

In [35]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.25)

**2.** Analyse the impact of smoking to the heart disease and display the intercept and regression coefficients.

In [36]:
features = ['biking', 'smoking', 'heart.disease']
target = 'heart.disease'
X_train, X_test, y_train, y_test = train_test_split(heart_disease[features], heart_disease[target], test_size=0.25, random_state=42)
model = LinearRegression()
model.fit(heart_disease[['smoking']], heart_disease[target])
print("Intercept: ", model.intercept_)
print("Regression Coefficient for smoking: ", model.coef_[0])

Intercept:  7.543106897297653
Regression Coefficient for smoking:  0.17048430862959812

**3.** Predict the y value (y’) for the testing set (x).

In [37]:
features = ['biking', 'smoking', 'heart.disease']
target = ['heart.disease']
X_train, X_test, y_train, y_test = train_test_split(heart_disease[features], heart_disease[target], test_size=0.25, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(y_pred)

[[ 6.75601546]
 [ 9.46602604]
 [14.08865401]
 [13.37742996]
 [16.38467802]
 [13.37980742]
 [ 7.59179728]
 [10.05580546]
 [ 6.80839968]
 [12.09848437]
 [ 7.81638864]
 [ 9.83547443]
 [ 4.94609016]
 [ 9.77538589]
 [ 7.70739764]
 [17.05893586]
 [ 4.29637701]
 [ 7.98222748]
 [ 5.52393102]
 [ 5.92568029]
 [ 1.10482036]
 [ 7.61880347]
 [12.37369096]
 [14.17984416]
 [11.63207228]
 [13.17374097]
 [ 6.50794746]
 [10.37232868]
 [13.37300547]
 [11.75315615]
 [ 8.55785408]
 [12.04664323]
 [12.92167259]
 [17.17780348]
 [ 3.29621777]
 [ 6.51670364]
 [ 6.7390807 ]
 [ 7.59016604]
 [13.28367033]
 [10.86552244]
 [ 2.70846056]
 [ 3.40208038]
 [ 8.02740434]
 [10.37756908]
 [11.76942278]
 [ 8.60827208]
 [15.98937136]
 [ 7.47437198]
 [17.87769197]
 [ 3.68936446]
 [ 0.98753645]
 [ 5.07228125]
 [ 6.95950199]
 [15.19818432]
 [ 9.74718577]
 [ 6.71507793]
 [ 7.93060123]
 [11.29439158]
 [13.01604512]
 [ 4.07682347]
 [ 7.33037569]
 [ 7.04062107]
 [13.47050633]
 [ 5.56092164]
 [11.10563057]
 [12.81263706]
 [16.16479395]
 [ 5.68568185]
 [17.47394032]
 [ 9.23007425]
 [ 4.70700936]
 [ 3.74449837]
 [18.68979793]
 [16.19911804]
 [ 3.10933775]
 [ 9.51338391]
 [13.28152871]
 [ 6.73577092]
 [11.1407355 ]
 [ 8.86792508]
 [19.43196008]
 [ 6.91625864]
 [14.63576932]
 [ 7.66534592]
 [10.23358752]
 [ 4.09076484]
 [14.46601284]
 [14.80814956]
 [14.83034396]
 [11.60093943]
 [ 9.78016512]
 [13.75798666]
 [16.3479313 ]
 [13.33442806]
 [ 8.74484531]
 [12.99647582]
 [ 4.48099302]
 [ 5.85827788]
 [ 5.47890873]
 [ 8.54909495]
 [15.0086341 ]
 [ 6.66207532]
 [ 5.33403739]
 [ 7.83138475]
 [ 3.52297632]
 [12.074926  ]
 [13.64807731]
 [13.75157748]
 [ 9.08844485]
 [11.29631616]
 [ 5.41591739]
 [10.11586515]
 [ 4.91638345]
 [12.88681678]
 [ 7.25794619]
 [ 4.68009745]
 [ 9.32447395]
 [12.78845054]
 [12.5378281 ]
 [10.97176085]
 [ 8.34557354]
 [16.52729331]
 [10.7291815 ]
 [15.00071543]
 [ 8.31089766]]

**4.** Analyse the performance metrics with the actual value (y) and predicted values (y’).

In [38]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
features = ['biking', 'smoking', 'heart.disease']
target = 'heart.disease'
X_train, X_test, y_train, y_test = train_test_split(heart_disease[features], heart_disease[target], test_size=0.25, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R-Squared:", r2)

Mean Squared Error: 9.62508911982787e-31
Mean Absolute Error: 5.497824417943775e-16
R-Squared: 1.0

**Result:**

The above programs was done successfully and the output was verified.